<!-- Sección de búsqueda y filtros -->
<section class="directorio-search ">
  <!-- Menú de navegación horizontal -->
  <section class="directorio-menu">
  <div class="directorio-nav__menu">
    <a href="#" class="directorio-nav__item active">Dirección Financiera y Administrativa</a>
    <a href="#" class="directorio-nav__item">Noticias</a>
    <a href="#" class="directorio-nav__item">Comunicados</a>
    <a href="#" class="directorio-nav__item">Préstamo Sala anexa 306 A</a>
    <a href="#" class="directorio-nav__item">Rendición de cuentas</a>
    <a href="#" class="directorio-nav__item">Servicios</a>
    <a href="#" class="directorio-nav__item">Directorio</a>
  </div>
</section>

  
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="directorio-search__container">
          <div class="directorio-search__input-group">
            <input type="text" class="directorio-search__input" placeholder="Buscar un contacto de la Dirección Financiera y Administrativa Sede Bogotá" id="searchInput">
            
          </div>
          <button class="directorio-search__btn" type="button" onclick="searchDirectory()">
              <svg class="directorio-search__icon" fill="white" viewBox="0 0 22 22">
                <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
              </svg>
            </button>
        </div>
      </div>
    </div>
    
    <div class="row mt-3 ">
      <div class="col-md-4">
        <select class="directorio-filter__select" id="divisionFilter" onchange="filterByDivision()">
          <option value="">División/Sección</option>
          <option value="Dirección Financiera">Dirección Financiera</option>
          <option value="Dirección Administrativa">Dirección Administrativa</option>
          <option value="Contabilidad">Contabilidad</option>
          <option value="Presupuesto">Presupuesto</option>
        </select>
      </div>
    </div>
  </div>
</section>