<!-- Tabla del directorio -->
<section class="directorio-content ">
  <div class="container">
    <div class="directorio-table-container">
      <table class="directorio-table" id="directoryTable">
        <thead>
          <tr>
            <th>Cargo</th>
            <th>Nombre</th>
            <th>División/Sección</th>
            <th>Correo</th>
            <th>Extensión</th>
          </tr>
        </thead>
        <tbody id="tableBody">
          <!-- Los datos se cargan dinámicamente con JavaScript -->
        </tbody>
      </table>
    </div>
    
    <!-- Paginación -->
    <div class="directorio-pagination">
      <div class="directorio-pagination__container">
        <button class="directorio-pagination__btn" id="prevBtn" onclick="previousPage()" disabled>
          <!-- <svg class="directorio-pagination__arrow" fill="currentColor" viewBox="0 0 24 24">
            <path d="M15.41 7.41L14 6l-6 6 6 6 1.41-1.41L10.83 12z"/>
          </svg> -->
          <img src="../images/directorio_images/vector121254-2p9.svg" alt="">
          
        </button>
        <div class="directorio-pagination__info">
          <span>Anterior</span>
          <span class="directorio-pagination__current" id="currentPage">1</span> de <span id="totalPages">100</span>
        
        </div>
        <button class="directorio-pagination__btn" id="nextBtn" onclick="nextPage()">
          
         <img src="../images/directorio_images/vector161255-74y5.svg " alt="">
        </button>
      </div>
    </div>
  </div>
</section>