<!-- Hero Section del Directorio -->
<section class="directorio-hero">
  
  <!-- Imagenes de fondo decorativas -->
  <img alt="AgenciaUNAL0202231811208" src="../images/directorio_images/agenciaunal0202231811208-g08o-800h.png" class="directorio-agencia-unal020223181" />
  <img alt="directorio12x11209" src="../images/directorio_images/directorio12x11209-q8qla-800h.png" class="directorio-directorio12x1" />
  <img alt="directorio22x11210" src="../images/directorio_images/directorio22x11210-wpw8-1200w.png" class="directorio-directorio22x1" />
  
 
  <!-- Título principal -->
  <span class="directorio-text11">
    <span>Directorio</span>
    <br />
  </span>
  
  <!-- Descripción -->
  <span class="directorio-text14">
    <span>
      En este directorio, encontrarás la información de contacto de los
      miembros de la Dirección Financiera y Administrativa, organizada
      por cargo, nombre, división/sección, correo electrónico y
      extensión telefónica.
    </span>
    <br />
    <span>
      Además, puedes filtrar los resultados por división y sección para
      encontrar rápidamente al contacto que necesitas.
    </span>
    <br />
  </span>

</section>