<!-- Sección de contacto -->
<section class="directorio-contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4">
        <div class="directorio-contact__card">

          <div class="directorio-contact_info">
            <div class="directorio-contact__header">
            <h3>Dirección Financiera y Administrativa.</h3>
          </div>
          <div class="directorio-contact__content">
            <div class="directorio-contact__item">
              <img src="../images/directorio_images/ubicacion11224-hj5s-200w.png" alt="Ubicación" class="directorio-contact__icon">
              <div>
                <strong>Atención presencial.</strong><br>
                Universidad Nacional de Colombia<br>
                Edificio Uriel Gutiérrez<br>
                Piso 3, Oficina 306.
              </div>
            </div>
            <div class="directorio-contact__item">
              <img src="../images/directorio_images/telefono11225-1v3-200h.png" alt="Teléfono" class="directorio-contact__icon">
              <div>
                <strong>Atención Telefónica.</strong><br>
                PBX: +57 (601) 316 5000<br>
                Ext. 18196
              </div>
            </div>
            <div class="directorio-contact__item">
              <img src="../images/directorio_images/correo11223-9n4-200h.png" alt="Correo" class="directorio-contact__icon">
              <div>
                <strong>Correo Electrónico:</strong><br>
                dirfinadmin_bog@unal.edu.co
              </div>




          </div>
          
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-lg-6 col-md-12">
        <div class="row">
          <div class="col-12">
            <div class="directorio-contact__card directorio-contact__card--small">
              <h4>Chats de atención virtual</h4>
              <div class="directorio-contact__chat-item">
                <img src="../images/directorio_images/whatsapp11226-2f5f-200h.png" alt="WhatsApp" class="directorio-contact__chat-icon">
                <div class="directorio-contact__chat-info">
                  <strong>WhatsApp</strong>
                  <span>+57 316 5000 Ext. 10320</span>
                </div>
                <a href="#" class="directorio-contact__chat-btn">Chatear</a>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="directorio-contact__card directorio-contact__card--small">
              <h4>Encuesta de satisfacción</h4>
              <div class="directorio-contact__survey-item">
                <img src="../images/directorio_images/encuenta11227-n4i-200h.png" alt="Encuesta" class="directorio-contact__survey-icon">
                <div class="directorio-contact__survey-info">
                  <span>Cuéntanos tu experiencia con nosotros</span>
                </div>
                <a href="#" class="directorio-contact__survey-btn">Encuesta</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>